---
import { css } from "../../../../styled-system/css";

import CardHeroImage from "./card_heroImage.astro";
import CardHeader from "./card_header.astro";
import CardBody from "./card_body.astro";
import CardFooter from "./card_footer.astro";

const initialContent = {
    title: 'HTML & CSS foundations',
    description: 'These lenguages are the backbone of every website, define structure, content and presentation.',
}
---

<div id="card_box" role="article" 
        class={
            css({
                flexDirection: 'column',
                marginTop: {
                    xsm: '-10%',
                    sm: '-5%',
                    lg: '0%',
                    xl: '0%'
                },
                width: {
                    xsm: '80%',
                    sm: '50%',
                    lg: '28%',
                    xl: '22%'
                },
                height: {
                    xsm: '60%',
                    sm: 'fit-content'
                },
                borderRadius: '15px',
                border: '2px solid black',
                boxShadow: '8px 8px 0px 0px rgba(0,0,0,1)' ,
                backgroundColor: 'white'
            })
        }
>
        <CardHeroImage 
            imgSrc="/02_FEM_blogPreview/assets/images/illustration-article.svg"
            class={css({ display: 'flex' })}
        />
        <CardHeader 
            badge="Learning"
            date="21 Dec 2023"
        />
        <CardBody 
            content={initialContent}
        />
        <CardFooter 
            avatarSrc="/02_FEM_blogPreview/assets/images/image-avatar.webp"
            author="Greg Hooper"
        />
</div>